@font-face{
    font-family: 'Roboto Ligth';
    src:url('../fonts/Roboto-Light.ttf')
}
@font-face{
    font-family: 'Roboto Black';
    src:url('../fonts/Roboto-Black.ttf')
}

*{
    font-family: 'Roboto Light';
}

h1, button{
    font-family: 'Roboto Black';
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  
  .formulario button{
    width: 10vw;
    margin-top: 10px;
  }

.productList{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}
.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productCard h4{
    font-family: 'Roboto Black';
}
.productCard img{
    width: 12vw;
    height: 18vw;
}

.productDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.avatarHome{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 20px;
    right: 20px;
    border-radius: 30px;
    border: solid black thin; 
    object-fit: cover;
}

.detailGalery{
    display: grid;
    grid-template-columns: 60% 50%;
}

.detailGalery img{
    width: 20vw;
    height: 28vw;
    object-fit: cover;
    margin-bottom: 5vh;
}