<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Sequelize</title>
        <link rel="stylesheet" href="/styles/home.css"> 
    </head>
    <body>
        <h1>Carrito de compras</h1>
        <div>
            <table border="2px" id="cartTable">
                <tr>
                    <th>Producto</th>
                    <th>ID</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </table>
            <button id="sendCartBtn">Terminar Compra</button>
        </div>
        <script src="/scripts/cartSystem.js"></script>
    </body>
</html>