<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Sequelize</title>
        <link rel="stylesheet" href="/styles/home.css"> 
    </head>
    <body>
        <h1>Logeate con tu usuario y contraseña</h1>
        <form class="formulario" method="post" action="/users/login">
            <label>Usuario:</label>
            <input name="username"/>
            <label>Contraseña:</label>
            <input name="password" type="password"/>
            <button type="submit">logearse</button>
        </form>
    </body>
</html>