<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home del Proyecto</title>
        <link rel="stylesheet" href="/styles/home.css"> 
    </head>
    <body>
        <div class="productDetail">
            <h1><%=product.title%></h1>
            <h3><%=product.description%></h3>
            <img src="<%=product.image%>">
            <h2>$<%=product.price%></h2>
            <a href="/">
                <button>Volver</button>
            </a>
        </div>
    </body>
</html>