<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home del Proyecto</title>
        <link rel="stylesheet" href="/styles/home.css"> 
    </head>
    <body>
        <h1>Formulario de creación de productos.</h1>
        <form class="formulario" action="/products" method="POST" enctype="multipart/form-data">
            <label>Título</label>
            <input 
            type="text"
            name="title"
            placeholder="Coloque el título del producto"
            />
            <label>Descripción</label>
            <textarea
            placeholder="Coloque una descripción"
            name="description"
            ></textarea>
            <label>Precio</label>
            <input 
            type="text"
            name="price"
            placeholder="Coloque el precio del producto"
            />
            <label>Imágenes</label>
            <input 
            type="file"
            name="images"
            multiple
            >
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>